<% layout("./layouts/boilerplate.ejs") %>
<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-4">
  <% for (let list of allList) { %>
    <div class="col">
      <div class="card h-100 listing-card">
        <a href="/listings/<%= list._id %>">
          <img src="<%= list.image %>" class="card-img-top" style="height: 20rem; object-fit: cover;">
        </a>
        <div class="card-body">
          <p class="card-text fw-bold"><%= list.title %></p>
          <p class="card-text text-muted">&#8377;<%= list.price.toLocaleString("en-IN") %>/night</p>
        </div>
      </div>
    </div>
  <% } %>
</div>



<!-- Inject flash messages into JavaScript -->
<script>
    const flashSuccess = "<%= success && success.length ? success[0] : '' %>";
    const flashError = "<%= error && error.length ? error[0] : '' %>";
</script>

