<% layout("./layouts/boilerplate.ejs") %>
<body>
    <div class="row ">
        <div class="col-6 offset-3 mb-2">
            <h3>All Details:</h3>
        </div>
    </div>
    <div class="col-6 offset-3 show-image" >

       
        <img src="<%= cList.image %>" class="card-img-top image-show" alt="listingImage">
        <div class="card-body">
          
          <p class="card-text"><b><%= cList.title %></b></p>
         
    <p><%= cList.description %></p>
    <p>&#8377;<%= cList.price.toLocaleString("en-IN") %></p>
    <p><%= cList.location  %></p>
    <p><%= cList.country  %></p>
        </div>
      </div>
    <div class="btns mb-5">
        <a href="/listings/<%= cList._id %>/new" class="btn btn-dark edit-button col-1 offset-3">Edit list</a>
        <form method="post" action="/listings/<%= cList._id %>?_method=DELETE">
            <button  class="btn btn-dark  offset-1">Delete</button>
        </form>
    </div>
</body>
